.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  max-width: var(--size-max-width);
  padding-bottom: var(--size-gutter);
  padding-left: var(--size-gutter);
  position: relative;
  top: -1em;
}
